.landingTextContainer {
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.landingText {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
  width: 100%;
}

.name {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: var(--lightest-slate);
  width: 100%;
  line-height: 1.1;
  font-family: var(--font-sans);
}

.profile {
  color: var(--slate);
  line-height: 1.1;
  font-size: clamp(40px, 8vw, 80px);
  width: 100%;
  font-weight: 600;
  font-family: var(--font-sans);
}

.description {
  margin: 20px 0px 0px;
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}
.description a {
  display: inline-block;
  position: relative;
  color: var(--green);
  transition: var(--transition);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}
.description a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  opacity: 0.5;
}
.description a:hover::after {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .description a::after {
    transition: var(--transition);
  }
}
