@import url('https://fonts.googleapis.com/css2?family=Inter');

@font-face {
  font-family: "CalibreRegular";
  src: url("/fonts/Calibre/Calibre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CalibreSemibold";
  src: url("/fonts/Calibre/Calibre-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CalibreMedium";
  src: url("/fonts/Calibre/Calibre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFMonoRegular";
  src: url("/fonts/SFMono/SFMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFMonoMedium";
  src: url("/fonts/Calibre/SFMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SFMonoSemibold";
  src: url("/fonts/Calibre/SFMono-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #070f2b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070f2b;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.global-btn {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}

.global-btn:hover {
  outline: none;
  box-shadow: var(--btn-shadow);
  transform: translate(-5px, -5px);
}
