.aboutSection {
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  max-width: 900px;
  margin: 0px auto;
  padding: 100px 0px;
}

.aboutSectionContent {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

.textContainer {
  justify-content: center;
  @media only screen and (max-width: 600px) {
    order: 2;
  }
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
  }
}

.skillList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.skill {
  position: relative;
  margin-bottom: 10px;
  padding: unset;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);

  &::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
  }
}

.aboutImage {
  position: relative;
  max-width: 300px;
  @media only screen and (max-width: 600px) {
    order: 1;
  }
}
.aboutImageWrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--green);
  padding: 2px;

  &::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
    z-index: 5;

    &:hover {
      z-index: 0;
    }
  }

  &::after {
    border: 2px solid var(--green);
    top: 14px;
    left: 14px;
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
  }
}

.aboutImageWrapper:hover {
  outline: 0px;
  transform: translate(-4px, -4px);
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
  background-color: transparent;
}

.aboutImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
  transition: opacity 0.25s linear;
  will-change: opacity;
  opacity: 1;
  vertical-align: middle;
  border-radius: var(--border-radius);
}
